<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E-Commerce WebApplication">
  <test name="Assignment">
	  	    
			  <parameter name="user-name" value="standard_user"></parameter>
			  <parameter name="password" value="Password"></parameter>
		  
		  <classes>
		  <class name="com.abc.assign.TestNgForPassFail">
			</class>
	  	</classes>
	  
	  
  </test> <!-- Test -->
</suite> <!-- Suite -->
